body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

.grid-container
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.ttt-btn
{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#victory-lbl{
    position:absolute;
    vertical-align:top;
    left: 0px;
    padding: 10px;
}

#turn-lbl{
    position:absolute;
    top:50px;
    vertical-align:top;
    left: 0px;
    padding: 10px;
}

#reset-btn{
    position:absolute;
    top:100px;
    vertical-align:top;
    left: 0px;
    size: 25px;
    padding: 40px;
}